body {
    overflow: scroll; 
    font-size: 1.1rem;
}
  
body::-webkit-scrollbar {
    display: none;
}
  
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.8;
    color: #333;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    @media screen and (max-width: 450px) {
        width: 90%;
    }
}

/* ヘッダー */
header {
    background: #089416;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: white 3px solid;
    position: relative;
}
header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
}
header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 {
    margin: 0;
    font-size: 1.8rem;
}
header nav {
    float: right;
    margin-top: 10px;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

/* ハンバーガー */
/* ハンバーガーの初期スタイル */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 5%;
    z-index: 1000;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out; /* スムーズなアニメーション */
}

/* ハンバーガーをクリックしたときの変形スタイル */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px); /* 角度と移動調整 */
}

.hamburger.active span:nth-child(2) {
    opacity: 0; /* 中央の線を非表示に */
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px); /* 角度と移動調整 */
}

@media (max-width: 450px) {
    header {
        min-height: 51px;
        position: relative;
        z-index: 1000;
    }

    header #branding h1 {
        font-size: 1.5rem;
        margin: auto 0;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #089416;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 999;
    }

    #hamburger {
        display: flex;
    }

    .show {
        display: flex;
    }

    nav ul li {
        text-align: center;
        padding: 15px 0;
        color: white;
    }
}




/* トップ画面 */
#showcase {
    width: 100vw;
    height: 70vh;
    background-image: url('../img/top-image2.png');
    background-size: cover; /* containに変更して、画像全体が表示されるように */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 繰り返さない */
    text-align: center;
    color: #ffffff;
    position: relative;
}

#showcase h1 {
    position: absolute;
    font-size: 5vw; 
    right: 5%;
    bottom: 15%; 
    @media screen and (max-width: 450px) {
        font-size: 2rem;
        right: 0;
    }
}



#main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main .box {
    margin-bottom: 20px;
    background: #edf9ed;
    padding: 20px;
}

.tel {
    font-size: 1.5rem;
    /* text-align: center; */
}

h2 {
    font-size: 2rem;
    @media screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
}

p {
    font-size: 1.5rem;
    @media screen and (max-width: 450px) {
        font-size: 1rem;
    }
}

/* トップコンテナ */
.top-container {
    margin: 5vh 0;
}

.top-container h1 {
    font-size: 3.5rem;
    @media screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
}

.top-container p {
    margin-top: 2rem;
}

/* 会社概要はこちら */
.information-box{
    height: 20vh;
    background-image: url(../img/kaitai9.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 20px;
}

.information-box a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    @media screen and (max-width: 450px) {
        font-size: 1.5rem;
    }
    position: absolute;
    left: 5%;
    bottom: 0;   
}

.information-box a:hover {
    color: #888;
}




/* スライダー */
.slider {
    width: 80vw;
    overflow: hidden;
    @media screen and (max-width: 450px) {
        width: 90vw;
    }
}

.slider-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
}

.slider-track img {
    width: 25vw ;
    height: auto;
    margin-right: 10px;
    @media screen and (max-width: 450px) {
        width: 50vw;
    }
}


/* フッター */
footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #089416;
    text-align: center;
}



/* -----informationページ -----------------------*/
/* 会社概要 */

.corporate-table {
    width: 80%;
    margin: 0 auto;
    
    @media screen and (max-width: 450px) {
        width: 100%;
    }

}

.corporate-table td {
    border: #ccc 1.4px solid;
    padding: 0.2rem 0 0.2rem 0.8rem;
    font-size: 1.5rem;
    @media screen and (max-width: 450px) {
        font-size: 0.85rem;
    }
}




/* ----------contactページ----------------------- */
/* お問い合わせ */
.contact-box h1 {
    font-size: 2rem;
    margin-top: 3vh;
}

.contact-box p {
    margin-top: 2vh;
}

#tel-box {
    margin-top: 3vh;
}

.insta {
    margin-top: 5vh;
}

.insta h4 {
    font-size: 1.5rem;
}

.insta p {
    margin:1vh 0 2vh 0;
}